@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,700;0,900;1,300&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
   
    /* font-family:  'Poppins', sans-serif; */
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: rgba(237, 236, 236, 0.415);
}

.maincontainer{
    max-width: 1100px;
   background-color: #fff;
    margin:50px auto;
    opacity: 1.5;
}


.profiledetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:30px 0;
 
   
}
.profiledetail img{
    width: 125px;
    height: 125px;
    border-radius: 70px;
    border: 1px solid grey;
    opacity: 2;
    background: soft-light;
}

.profiledetail .detail{
   padding-right: 250px;
}

.profiledetail .detail h1,.profiledetail .detail h5{
    font-weight: 700;
   padding-bottom: 6px;
}

.address{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff;
     background-color: #313c4e; 
    /* background-color: #00c8aa; */
    opacity: 1;
    min-height: 30px;
    text-align: left;
    
    column-gap: 20rem;
   
}

.adress-col1{
    text-align:start;
   
}
.adress-col2{
    text-align: start;
   
}

.address  address a {
    text-decoration: none;
    color: rgb(248, 246, 246);
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
   
}

.address  address a:hover, .address  address i:hover{
    font-size: 16px;
    color: #989da6;
}

.adress-col1 address i, .adress-col2 address i{
    text-decoration: none;
    color: rgb(248, 246, 246);
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
}

.containerdetail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
.Highlight{
  text-decoration: underline;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.containerdetail .detail1{
    flex-basis: 50%;
    
}

.Education  ul  {
   list-style-type: none;
   padding-top: 5px;
}


.Education ul li{
    padding: 10px;
}
.Hobbies{
    margin: 20px 0;
}
.Hobbies ul{
    list-style-type: square;
    padding-left: 30px;
    padding-top: 5px;
}

.Hobbies ul ul {
    list-style-type: none;
}

.Hobbies ul li{
    padding: 3px;
}

.Programing{
    margin: 20px 0;
}
.Programing ul{
    list-style-type: square;
    padding-left: 30px;
    padding-top: 5px;
}

.Programing ul li{
    padding: 3px;
}


.containerdetail .detail2{
    flex-basis: 50%;
    
}

.detail2{
    padding-bottom: 65px;
}


.skilldec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
     padding: 10px;
}
.skill ul {
    list-style-type: none;
}
.skilldec  li{
    background-color: #989da6;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}

.workexp div{
   
    margin: 20px;
}

.workexp ul{
    list-style-type: circle;
}

.workexp ul li{
    padding-left: 5px;
}
.Language ul{
    list-style-type: none;
}

.style{
    color:#989da6;
    opacity: 1.5;
    font-weight: normal;
    font-style: italic;
}
.style2{
    font-weight: 500;
    font-style: italic;
}

.style2:hover{
    font-size: 16px;
    color: #989da6;
}
.Language{
    margin: 20px 0;
}
.Language>ul{
    padding-left: 20px;
    padding-top: 10px;
}

.interest{
    margin: 20px 0;
}

.interest p {
    padding: 5px;
    border: 2px solid #989da6 ;
    margin: 10px;
    border-radius: 5px;
}

@media (max-width : 713px){

    .maincontainer{
        max-width: 600px;
    }
    .profiledetail img{
        width:75px;
        height:75px;
        border-radius: 75px;
    }
    .profiledetail {
       column-gap: 50px;
      padding-left: 20px;
     }
     .profiledetail p{
        font-size: 10px;
     }
     .containerdetail{
        padding: 15px;
     }
    
    h1{
        font-size: 24px;
        font-weight: bold;
    }
    h2{
        font-size: 18px;
    }
    h5{
    font-size: 12px;
    font-weight: 900;
    }
    p{
        font-size: 12px;
    }
    .skill ul li{
        font-size: 12px;
    }
    li{
        font-size: 12px;
    }
    h4{
        font-size:14px ;
    }
    .address  address a {
        font-size: 10px;
    }

    .address{
        column-gap: 125px;
        margin: 15px 0;
    }
    .detail1{
        padding-bottom: 178px;
    }
   
}

@media (max-width:401px){
    .maincontainer{
        max-width: 100%;
    }
    .profiledetail img{
        width:60px;
        height:60px;
        border-radius: 60px;
        
    }
    .profiledetail {
        column-gap: 4px;
       
      }
      .image{
        flex-grow: 1;
      }
      .profiledetail .detail{
        padding-right: 25px;
     }
     .profiledetail{
        padding: 10px 0;
        padding-left: 20px;
     }
     .address address a {
        padding-left: 3px;
        padding-top: 3px;
     }
     .adress-col1 address i,.adress-col2 address i{
        font-size: 6px;
     }
     .Education ul li{
        padding: 3px;
     }
     .Hobbies ul li{
        padding: 1px;
     }
     .Hobbies ul{
        padding-left: 10px;
        padding-top: 2px;
     }
     .Programing{
        margin: 0 0 20px;
     }
     .Programing ul{
        padding-left: 10px;
     }
     .Programing ul li{
        padding: 1.5px;
     }
     /* .detail{
        flex-basis: 200px;
        flex-grow: 2;
      } */
      .skilldec{
        flex-wrap: nowrap;
        padding: 4px;
      }

      .address  address a {
        font-size: 6px;
    }
    .containerdetail{
        padding: 10px;
    }

    .address{
        column-gap: 50px;
        margin:  0;
        padding: 4px;
    }
    

      .profiledetail p{
        font-size: 6px;
     }
     .workexp{
        margin: 15px 0;
     }
     .workexp div{
        margin: 5px 5px 5px 10px;
     }
     .Language>ul {
        padding-left: 10px;
        padding-top: 5px;
     }
         
    h1{
        font-size: 16px;
        font-weight: bold;
    }
    h2{
        font-size: 10px;
    }
    h5{
    font-size: 6px;
    font-weight: 900;
    }
    p{
        font-size: 6px;
    }
    .skilldec li{  
        margin: 2px;
        padding: 4px 2px;
        border-radius: 2px;
    }

    .skill ul li{
        font-size: 6px;
    }
    li{
        font-size: 6px;
    }
    h4{
        font-size:8px ;
    }
    .Highlight{
      letter-spacing: 0;
    }
    .detail1{
        padding-bottom: 84px;
    }
    button{
        font-size: 6px;
    }
    /* .detail2{
        padding-bottom: 10px;
    } */

    /* .Language ul li{
        margin-bottom: 3px;
    } */
    .Languages ul li{
        padding: 2px 0 4px;
   }

    .interest p{
        margin: 5px;
        padding:5px;
        border-width: 1px;
        border-radius: 3px;
    }
}
@media print{
    .maincontainer{
        margin: 0px auto;
    }
   .hidden{
    display: none;
   }
}

